#footer {
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    background-color: #a57ccd;
}

.footer-text{
    font-size:x-large;
    color: #6613b3;
    font-weight: 400;
    padding: 40px 0;
    
}

#copyright{
    background-color: #a57ccd;
    padding: 15px 0;
    color: rgb(102, 19, 179);
}